System Design Group 7
Software Design Specification (Motorola board)
(for inclusion in Design document)

-- State --

State Number/Title:

Username:

Functional description of State:

-- Transitions --

Move to state: 
Conditions on transition:

-- Communications to Client -- 

Message destination:
Message tag:
Description:
